@import "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css";

.hero {
  background: url("https://i.ytimg.com/vi/0nnzO0k5rP0/maxresdefault.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
}
